
@{
    ViewData["Title"] = "CodeKata";
}

<h1>CodeKata</h1>

<section>
    <div class="row">
        <div class="col">
            <h2><a href="http://codekata.com/kata/kata02-karate-chop/">Kata02: Karate Chop</a></h2>
        </div>
    </div>
</section>

